<div class="main-slider owl-carousel">
    <div class="item">
        <div class="slide_content first_slide">
            <div class="main-slider_desription">
                Парусный спорт в Стокгольме!
                Тебе понравится это!
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slide_content second_slide">
            <div class="main-slider_desription">
                Парусный спорт в Стокгольме!
                Тебе понравится это!
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slide_content third_slide">
            <div class="main-slider_desription">
                Парусный спорт в Стокгольме!
                Тебе понравится это!
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slide_content first_slide">
            <div class="main-slider_desription">
                Парусный спорт в Стокгольме!
                Тебе понравится это!
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slide_content second_slide">
            <div class="main-slider_desription">
                Парусный спорт в Стокгольме!
                Тебе понравится это!
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slide_content third_slide">
            <div class="main-slider_desription">
                Парусный спорт в Стокгольме!
                Тебе понравится это!
            </div>
        </div>
    </div>
</div>