<div class="row first_block">
    <div class="col-md-4 social">
        <ul>
            <li>
                <a href="#"><img src="img/vk_f.png" alt="vk"></a>
            </li>
            <li>
                <a href="#"><img src="img/fb_f.png" alt="fb"></a>
            </li>
            <li>
                <a href="#"><img src="img/tw_f.png" alt="tw"></a>
            </li>
            <li>
                <a href="#"><img src="img/ok_f.png" alt="ok"></a>
            </li>
        </ul>
    </div>
    <div class="footer-navigation">
        <div class="col-md-3 col-xs-6">
            <ul class="first-nav">
                <li><a href="#">Главная</a></li>
                <li><a href="#">О проекте</a></li>
                <li><a href="#">Туры</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-6">
            <ul class="second_nav">
                <li><a href="#">Страны</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Сотрудничество</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-12">
            <ul class="third_nav">
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>

</div>
<div class="row last_block">
    <div class="col-md-6 col-xs-11 col-md-push-4 address-footer">
        г. Москва, ст. метро Кузьминки, Волжский бульвар, д.37, корп.1.
    </div>

    <div class="col-md-4 col-xs-6 col-md-pull-6 copyright">
        © 2017 Travel
    </div>
    <div class="col-md-2 col-xs-6 logo-id align-right">
        <a href="#">
            <img src="img/id.png" alt="ID">
        </a>
    </div>
</div>