<div class="slider-top container-fluid owl-carousel">
    <div class="item">
        <img src="img/slide_top.png" alt="">
        <div class="slide_description align-center">
            <h2>DISCOVER</h2>
            <h3>Мир, который вы никогда не видели</h3>
        </div>
    </div>
    <div class="item">
        <img src="img/slide_top_2.png" alt="">
        <div class="slide_description align-center">
            <h2>DISCOVER</h2>
            <h3>Мир, который вы никогда не видели 2</h3>
        </div>
    </div>
    <div class="item">
        <img src="img/slide_top.png" alt="">
        <div class="slide_description align-center">
            <h2>DISCOVER</h2>
            <h3>Мир, который вы никогда не видели</h3>
        </div>
    </div>

</div>

