<div class="col-sm-6 col-xs-6 country">
    <div class="country_block">
        <a href="#">Австрия</a>
        <a href="#">Белоруссия</a>
    </div>
    <div class="country_block">
        <a href="#">Бельгия</a>
        <a href="#">Болгария</a>
    </div>
</div>

<div class="col-sm-6 col-xs-6 country">
    <div class="country_block">
        <a href="#">Бразилия</a>
        <a href="#">Великобритания</a>
    </div>
    <div class="country_block">
        <a href="#">Венгрия</a>
        <a href="#">Вьетнам</a>
    </div>
</div>
