<div class="row news-footer__block">
    <div class="col-md-12">
        <h3>Новости</h3>
    </div>
    <div class="col-md-4 row news-item">
        <img src="img/news1.png" alt="">
        <div class="news-item__text">
            <span class="date">03.02.2017</span>
            <a href="#">Новая Зеландия - потерянный рай</a>
        </div>
    </div>
    <div class="col-md-4 row news-item">
        <img src="img/news2.png" alt="">
        <div class="news-item__text">
            <span class="date">03.02.2017</span>
            <a href="#">Парусный спорт в Стокгольме! Тебе понравится это!</a>
        </div>
    </div>
    <div class="col-md-4 row news-item">
        <img src="img/news3.png" alt="">
        <div class="news-item__text">
            <span class="date">03.02.2017</span>
            <a href="#">Мирное время в Копенгагене</a>
        </div>
    </div>
    <div class="col-md-12">
        <a href="#" class="btn btn-white">Все новости</a>
    </div>
</div>