<div class="col-md-9 content">
    <h2>Travel</h2>
    <p>
        Новая Зеландия&nbsp;&ndash; ни&nbsp;что иное, как миниатюрная проекция нашего земного шара, крохотные острова в&nbsp;юго-западной части Океании... Это место уже стало культовым среди туристов, бегущих от&nbsp;суеты мегаполисов. Новая Зеландия на&nbsp;своей небольшой территории помещает весь колорит планеты.
    </p>
    <p class="last_paragraph">
        Здесь вы&nbsp;найдете бескрайние пляжи, традиционные деревушки, горные долины и&nbsp;большие города, тесно находящиеся друг с&nbsp;другом.
    </p>
    <a href="#" class="btn btn-black ">Подробнее</a>
</div>